.create-appointment {
    width: 50%;
}

.create-appointment-title {
    text-align: center;
    font-size: 30px;
}

.create-appointment-label {
    font-size: 20px;
}

#create-appointment-employee {
    display: none;
}

#create-appointment-service {
    display: none;
}

#create-appointment-date {
    display: none;
}

#create-appointment-hour {
    display: none;
}
